/*
 * Use this CSS to learn some intersting techniques,
 * in case you're wondering how I built the UI.
 * Have fun! 😁
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #444;
  background-color: #f3f3f3;
  padding: 2rem;
  height: 100vh;
}

.app {
  position: relative;
  max-width: 90rem;
  margin: 4rem auto;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 2rem;
  margin: 0 auto;
}

.welcome {
  margin-top: 0.5rem;
  margin-left: 0.6rem;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 7rem;
}

.logo {
  height: 4.5rem;
}

.login__input {

  padding: 1rem 0;
  border-radius: 2rem;
  margin-right: 0.3rem;
  border: none;
  text-align: center;
  color: #140f0f;
  outline: none;
  font-size: 1.3rem;
}

.login__input::placeholder {
  color: #B0C7C2;
}

.login__submit {
  border: none;
  padding: 2rem;
  background-color: #F3F3F3;
  font-size: 2rem;
}

.balance {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0.5rem;
  align-items: center;
}

.left__label {
  font-size: 2rem;
  font-weight: 600;
}

.left__date {
  font-size: 1.2rem;
  margin-left: 0.2rem;
}

.balance__total {
  font-size: 4rem;
  font-weight: 500;
}

.functions {
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto repeat(2,12rem) auto;
  gap: 2rem;
}

.movements {
  background-color: #FFFFFF;
  grid-row: 1 / span 3;
  border-radius: 1rem;
  overflow: scroll;
  align-items: center;
  min-width: 50rem;
}

.movement__row {
  position: relative;
  display: flex;
  padding: 2.5rem;
  border-bottom: 1px solid #eee;
}

.movement__type__deposit {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
  border-radius: 2rem;
  padding: 0.2rem 1rem;
  color: white;
  font-weight: bold;
  height: 2rem;
  line-height: 1.7rem;
  text-align: center;
}

.movement__type__date {
  margin-left: 1.7rem;
  margin-top: 0.36rem;
  font-weight: bold;
}

.movement__type__value {
  position: absolute;
  right: 4.5rem;
  top: 2.3rem;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 0.25rem;
  
}

.movement__type__withdraw {
  vertical-align: middle;
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
  border-radius: 2rem;
  padding: 0.2rem 1rem;
  color: white;
  font-weight: bold;
  height: 2rem;
  line-height: 1.65rem;
  text-align: center;
}

.operation {
  background-color: #e52a5a;
  border-radius: 1rem;
  padding: 3rem 4rem;
  min-width: 20rem;
}

h2 {
  margin-bottom: 0.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: #333;
}

.form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  grid-template-rows: auto auto;
  row-gap: 0.3rem;
  column-gap: 0.5rem;
}

.form.form--loan {
  grid-template-columns: 2.5fr 1fr 2.5fr;
}
.form__label--loan {
  grid-row: 2;
}
/* End exceptions */

.form__input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: inherit;
  font-size: 1.5rem;
  text-align: center;
  color: #333;
  padding: 0.3rem 1rem;
  border-radius: 0.7rem;
  transition: all 0.3s;
}

.form__input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}

.form__label {
  font-size: 1.3rem;
  text-align: center;
}

.form__btn {
  border: none;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.form__btn:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
}

.operation--transfer {
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

.operation--loan {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.operation--close {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.summary {
  display: flex;
  justify-content: space-between;
  width: 40rem;
  text-transform: uppercase;
}

.summary p {
  display: inline-block;
  font-size: 1.2rem;
  margin-right: 0.5rem;
  font-weight: bold;
}

.summary span {
  font-size: 1.8rem;
}

.interest {
  color: #76c233;
}

.out {
  color: #e52a5a;
}

.sortBtn {
  position: absolute;
  left: 46rem;
  bottom: 0.3rem;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: #39b385;
  background-color: #f3f3f3;
  cursor: pointer;
}